.login-box{
    width: 500px;
    margin: 4em auto;
    padding: 3em 2em 2em 2em;
    background: #fff;
    border: 1px solid #ebebeb;
    box-shadow: rgba(0,0,0,0.14902) 0px 1px 1px 0px,rgba(0,0,0,0.09804) 0px 1px 2px 0px;
}

.input{
    font-size: 18px;
    padding: 10px 10px 10px 5px;
    -webkit-appearance: none;
    display: block;
    background: #ffffff;
    color: #636363;
    width: 100%;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #757575;
}

.log-input:focus { outline: none; }

.group { 
    position: relative; 
    margin-bottom: 45px; 
  }
 
  .log-form-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
    min-width: 250px;
    height: 50px;
    background-color: transparent;
    border-radius:7px;
    cursor: pointer;

    background-color: #0043C9;
    font-size: 16px;
    color: #000;
    line-height: 1.2;
    text-transform: uppercase;
  
    -webkit-transition: all 0.4s;
    -o-transition: all 0.4s;
    -moz-transition: all 0.4s;
    transition: all 0.4s;
    position: relative;
    z-index: 1;
  }  

  .container-log-btn {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 50px;
  }

  .log-form-btn:hover{
      background-color: yellow;
  }